body {
    font-size: 10px;
}

* {
    font-family: 'Poppins', sans-serif;
    font-size: inherit;
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.5em;
}

p {
    font-size: 1.5em;
}

img {
    max-width: 100%;
    height: auto;
}

@include medium-screen {
    body {
        font-size: 11px;
    }
}

@include large-screen {
    body {
        font-size: 12px;
    }
}
