* {
    font-family: 'Poppins', sans-serif;
    font-size: 10px;
}

@include medium-screen {
    * {
        font-size: 11px;
    }
}

@include large-screen {
    * {
        font-size: 13px;
    }
}
