.front {
    .news {
        .news-item {
            @include clear-fix;

            display: block;
            padding: 1em;
            color: white;
            text-decoration: none;

            transition: background-color 0.2s;

            &:nth-child(1) {
                background-color: $c-ui-col0;

                &:hover {
                    background-color: $c-ui-col0-light;
                }
            }

            &:nth-child(2) {
                background-color: $c-ui-col1;

                &:hover {
                    background-color: $c-ui-col1-light;
                }
            }

            &:nth-child(3) {
                background-color: $c-ui-col2;

                &:hover {
                    background-color: $c-ui-col2-light;
                }
            }

            .date {
                display: block;
                width: 30%;
                float: left;
                font-size: 1.1em;
            }

            .title {
                margin: 0;
                display: block;
                width: 70%;
                float: left;
                font-size: 1.2em;
            }
        }

        @include medium-screen {
            @include clear-fix;

            .news-item {
                float: left;
                box-sizing: border-box;
                height: 12em;

                &:nth-child(1) {
                    width: 33%;
                }

                &:nth-child(2) {
                    width: 34%;
                }

                &:nth-child(3) {
                    width: 33%;
                }

                .date {
                    float: none;
                    width: auto;
                }

                .title {
                    float: none;
                    width: auto;
                    font-size: 1.8em;
                    line-height: 1.3em;
                    font-family: "Taviraj", serif;
                    font-style: italic;
                }
            }
        }
    }

    .project {
        position: relative;
        height: 400px;
        height: 60vw;

        background-position: center center;
        background-size: cover;

        &:before {
            content: "";
            display: block;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            pointer-events: none;
            background: linear-gradient(
                15deg,
                rgba(0,0,0,0.8) 0%,
                rgba(0,0,0,0) 60%
            );
        }

        .project-meta {
            width: 70%;
            position: absolute;
            bottom: 1em;
            left: 1em;

            color: white;

            h2 {
                font-size: 2em;
                margin: 0;
            }

            p {
                font-size: 1.3em;
                margin: 0;
            }

            a {
                color: white;
                text-transform: uppercase;
                text-decoration: none;
                font-size: 0.9em;

                &:hover {
                    color: $c-ui-col2-light;
                }
            }
        }
    }
}
