.post {
    max-width: 1000px;
    margin: 4em auto;

    .post-image {
        img {
            max-width: 100%;
            height: auto;
        }
    }

    .project-credits {
        h3 {
            font-size: 1.2em;
            text-transform: uppercase;
        }

        dl {
            @include clear-fix;

            font-size: 0.9em;
            text-transform: uppercase;

            dt {
                float: left;
                clear: left;
                margin: 0;
                font-weight: bold;
                font-size: inherit;
            }

            dd {
                float: left;
                margin: 0 0 0 1em;
                font-size: inherit;
            }
        }
    }

    .project-sponsors {
        ul {
            @include list-reset;
            @include clear-fix;

            li {
                float: left;
                margin: 1em 2em;

                img {
                    max-width: 10em;
                    height: auto;
                }
            }
        }
    }
}
